.file-explorer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.file-explorer-content-item {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 5px;
}

.file-explorer-content-item svg {
    height: 50px;
    width: 50px;
}

.file-explorer-content-item:hover {
    cursor: pointer;
    background-color: #3B3B3B;
}