.window {
    position: absolute;
    background: #2E2E2E;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: #545454 1px solid;
}

.window-title {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-left: 10px;
}

.window-content {
    padding: 0 5px 5px 5px;
    height: 100%;
}

.window-close-button {
    background: none;
    border: none;
    color: lightgrey;
    padding: 10px 20px 10px 20px;
    border-top-right-radius: 10px;
}

.window-close-button:hover {
    background-color: #E81123;
    cursor: pointer;
}